body{
	background-color: rgb(200, 205, 200);
}

h1{
	color: red;
	font-size: 40px;
	text-decoration: underline;
}

h2{
	color: blue;
	text-decoration: underline;
}

br {
   display: block;
   margin: 10px 0;
}

.titre2{
	color: yellow;
	text-decoration: underline;
}